/*
  MOBILE
*/
body{
    display: flex;
    flex-direction: column;
    font-family: 'Century Gothic';
    color:#020202;
}
.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

    /* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  @media only screen and (min-width: 768px) {
    /* 
        DESKTOP
    */ 
  .frame {
    /* Background image */
    background-image: url('./assets/page-1.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  .nav-bar{
    height: auto;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: #000000cc; 
    align-items: center;
  }

  .button {
    border-radius: 1px;
    border: 2px solid #73AD21;
    width: 100px;
    height: 50px;
    transition-duration: 0.2s;
    background-color: #020202cc;
    color: #ffffff;
  }
  
  .button:hover {
    border: 2px solid #070707;
    background-color: #ffffff; /* Green */
    color: rgb(185, 141, 44);
  }

  .img-logo{
    width: 5rem;
    height: auto;
  }

  .button-group{
    height: 45%;
  }

  #welcome-note{
    height: 45%;

  }

  footer{
    display: flex;
    flex-direction: row;
    /* height: 40%; */
    align-content: center;
    align-items: center;
    background-color: #000000cc; 
    color: #cccccc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }


  #footer-content{
    height: auto;
    background-color: brown;
  }

  #address{
    text-align: center;
  }
  #dev-content{
    text-align: center;
    font-size: 13px;
    height: auto;
    /* background-color: #4c98af; */
  }
}


